main {
  .main {
    min-height: 600px;
    min-width: 100%;
    background: var(--main-background-color);
    text-align: center;

    h1 {
      padding-top: 200px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-transform: uppercase;
      color: var(--title-text-color);
      letter-spacing: 0.06em;
    }

    input {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: var(--title-text-color);
      cursor: pointer;
      margin-top: 30px;
      width: 200px;
      height: 50px;
      font-weight: 700;
      background: var(--link-color);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }

  .description {
    min-height: 290px;
    display: block;
    margin: 0 auto;
    width: 70%;
    

    h2 {
      margin-top: 60px;
      font-size: 36px;
      text-align: center;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;

      li {
        width: 20%;
      }

      h3 {
        font-weight: 700;
        text-transform: uppercase;
      }

      p {
        margin-top: 10px;
        font-weight: 400;
        line-height: 1.7;
        color: #757575;
      }
    }
  }

  .what_we_do {
    background-color: var(--title-text-color);
    margin-top: 60px;

    h2 {
      margin-bottom: 50px;
      font-size: 36px;
      text-align: center;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-bottom: 95px;
    }
  }

  .about {
    min-height: 650px;
    background: var(--background-page-color);


    h2 {
      padding-top: 95px;
      margin-bottom: 50px;
      font-size: 36px;
      text-align: center;
      color: var(--main-text-color);
    }

    .people {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15%;

      h3 {
        margin: 30px 0 10px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: #757575;
      }
    }
  }

  .portfolio_links {
    margin-top: 60px;
    h1{
      margin-bottom: 50px;
      font-size: 36px;
      text-align: center;
    }
  

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      li button {
        width: 145px;
        height: 38px;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color: var(--main-text-color);
        cursor: pointer;

        &:hover {
          background: var(--link-color);
          font-weight: 500;
          font-size: 16px;
          line-height: 1.62;
          text-align: center;
          color: var(--title-text-color);
        }
      }

    }
    .portfolio_cards {
      margin: 50px 0;
      display: grid;
      align-items: center;
      grid-template-columns: 370px 370px 370px;
      gap: 30px;
      justify-content: center;

      li {
        h3 {
          font-size: 18px;
          line-height: 2;
          font-weight: 700;
          letter-spacing: 0.06em;
          color: var(--main-text-color);
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.87;
          letter-spacing: 0.03em;
          color: #757575;
        }
      }
    }
  }



}